@import url("https://fonts.googleapis.com/css?family=Lato");
html,
body {
  height: 100%;
  margin: 0;
  font-family: Lato, sans-serif;
}
header{
    background:#151258;        
}
.navbar-item, .navbar-link {
  color: #ffffff !important;
}